:root {
  --button-color: #6c63ff;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

.contact-para {
  font-size: 14px;
  font-family: var(--secondary-font);
  text-decoration: none;
  color: #6c63ff;
}

.contact-para a:hover {
  text-decoration: underline;
}

.contact-container {
  margin-top: 60px;
  font-family: var(--secondary-font);
  background-color: #f9f7fe;
  border-radius: 10px;

  padding: 50px;
}

nav {
  background-color: #f9f7fe;
}

nav div a,
nav li {
  font-family: var(--secondary-font);
  color: #272142;
  font-size: 16px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

nav a:hover,
.contact-para:hover {
  color: var(--button-color);
  text-decoration: none;
}

nav li.active a {
  color: var(--button-color);
}

.logo {
  max-height: 30px;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: #f9f7fe;
  padding: 30px 120px;
  border-radius: 10px;
}

footer h4 {
  font-size: 48px;
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 63px;
}

.contact-box p {
  margin: 0;
  /* color: #6c757d;
  opacity: 0.7; */
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
}

.email-link {
  color: black;
  font-size: 24px;
  font-family: var(--secondary-font);
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
}

footer .social-links a {
  background-color: #f9f7fe;
  padding: 10px 14px;
  margin: 0 20px;
  font-weight: 400;
  font-size: 18px;

  border-radius: 50%;
  transition: all 100ms ease-in-out 0s;
}

footer .social-links a:hover {
  background-color: #6c63ff;
  color: white;
}

a:hover i {
  color: white;
}

.last-para {
  font-family: var(--secondary-font);
  font-size: 12px;
  font-weight: 500;
  line-height: 27px;
  text-decoration: none;
}
