.hero {
  text-align: center;
  background-color: #f9f7fe;
  padding: 160px 10px;
}

.hero p {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 48px;
}

.heading1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 96px;
}

.btn-styling {
  background-color: #6c63ff;
  color: white;
  padding: 18px 30px;
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 18px;
  border-radius: 4px;
}

.btn-styling:hover {
  background-color: #6c63ff;
  color: black;
  text-decoration: underline;
}
